<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>

    {%- include header.html -%}

    <main id="main-content" class="page-content" tabindex="-1">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- unless page.no_analytics %}
    <!-- Cloudflare Web Analytics -->
    <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"5a2ba45227194962884afd365410bcbb"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {%- endunless %}
  </body>

</html>
